<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <script src="https://kit.fontawesome.com/e136389fc0.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!-- <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1> -->
        
        {% if site.logo %}
          <a href="{{ "/" | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="Logo" style="display: block; width: 50%; margin-left: auto; margin-right: auto"/></a>
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <nav>
          <a href="/projects"><i class="fas fa-flask"></i> Research Projects</a>
          <a href="/publications"><i class="far fa-file-alt"></i> Publications</a>
          <a href="/people"><i class="fas fa-user"></i> Lab Members</a>
        </nav>

      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
